/** Use :root to increase specificity to override bootstrap styles */
:root body {
  background: #303030;
}
:root code {
   color: #fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #303030;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.itemTable {
    margin: 8px 24px;
}

.itemTable th {
    padding: 4px 24px;
}
